/*
color pallete
https://coolors.co/ef476f-ffd166-06d6a0-118ab2-073b4c
#EF476F Paradise Pink
#FFD166 Orange Yellow Crayola
#06D6A0 Caribbean Green
#118AB2 Blue NCS
#073B4C Midnight Grean Eagle Green
#f7fff7 Almost White
*/


/*Global Styles
-----------------*/
html{
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing: inherit;
}
body {
    color: #073B4C;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 3 px;
}
img{
    width: 300px;
}
a{
    color: #FFD166;
}
a:hover {
    text-decoration: none;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 2px 0;
}
h1 {
    font-size: 98px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
h2 {
    margin: 0;
    font-size: 45px;
}
h1,h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}
/*Profile
-----------------*/
header {
    background: #118AB2;
    color: #f7fff7;
}

/*Projects
-----------------*/
.projects {
    background: #06D6A0;
}
.projects a {
    color: #f7fff7;
    background: #073B4C;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects a:hover {
    background: rgba(7, 59, 76, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #073B4C;
    padding: 25px 0;
    background: #06D6A0;
}
.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}
/*Work Experience
-----------------*/
.work-experience {
    background: #FFD166;
    padding: 0 auto;
}

/*Education
-----------------*/

/*Contact Info
-----------------*/
footer {
    background: #EF476F;
    color: #f7fff7;
}
